<table>
<tr>
<th id="table1">
Template
</th>
</tr>
<tr>
<td  id="table2"><%= link_to "Dashboard" ,  "/ticket/dashboard"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Open Tickets" ,  "/ticket/open_ticket"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Pending Tickets" ,  "/ticket/pending_ticket"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Completed Tickets" ,  "/ticket/completed_ticket"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Submit Tickets" ,  "/ticket/new"%></td>
</tr>
</table>