<div id="content">
			<div id="wrapper">
				<div id="main">
					<div id="posts">
					<div id="users">
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
	</div>
						<h2>Pending Tickets.</h2> 
                    
 <h1 id="t1">                       
The following details is the ticket posted by client and admin in your Stack Support application.</h1><br>
					  <div id="m2">
					    <% if(@ticket.empty?)%>
				<center><h1>	 oops! No Record Found</h1></center>
					  <%else%>
						<table border="0" >
						<tr>
						<th id="k1">#</th>
						<th id="k1">ID</th>
						<th id="k1">Date</th>
						<th id="k1"><center>Client</center></th>
						<th id="k1"><center>Ticket</center></th>
						<th id="k1">Priority</th>
						<th id="k1">Status</th>
						<th id="k1">Action</th>
						</tr>
						<%@a=1%>

<% @ticket.each do |f|%>
<%if @a%2==0 %>
<tr>
<td  id="k2"><%= @a%></td>
<td id="k2"><%= f.id%></td>
<td id="k2"><%= (f.created_at).strftime("%d-%m-%y")%></td>
<% @user.each do |m|%>
<% if m.id==f.submitedby%>
<td id="k21"><div id="k21"><%= m.fullname%></div></td>
<%end%>
<%end%>

<td id="k22"><div id="k22"><%= link_to "#{f.subject}" ,  "/ticket/assign/#{f.id}",:method=>'assign' %></div></td>
<td id="k2"><%= f.priority%></td>
<td id="k2"><%= f.status%></td>
<td id="k2"><%= link_to "Delete" ,  "/ticket/destroy1/#{f.id}",:method=>'delete' %></td>
</tr>
<%else%>

<tr>
<td id="o1"><%= @a%></td>
<td id="o1"><%= f.id%></td>
<td id="o1"><%= (f.created_at).strftime("%d-%m-%y")%></td>
<% @user.each do |s|%>
<% if s.id==f.submitedby%>
<td id="o11"><div id="o11"><%= s.fullname%></div></td>

<%end%>
<%end%>

<td id="o12"><div id="o12"><%= link_to "#{f.subject}" ,  "/ticket/assign/#{f.id}",:method=>'assign' %></div></td>
<td id="o1"><%= f.priority%></td>
<td id="o1"><%= f.status%></td>
<td id="o1"><%= link_to "Delete" ,  "/ticket/destroy1/#{f.id}",:method=>'delete' %></td>
</tr>
<%end%>



<%@a=@a+1%>
<%end%>

</table>

<%= will_paginate @ticket %>
<%end%>
							
							</div>
						
					</div>
				</div>
				<div id="sidebar1">
					<img src="/images/sidebar_top1.jpg" alt="setalpm" width="333" height="45" class="quote" /><br />
			
						<%= render :partial=>"/ticket/ticket"%>
					
					<div class="inner_copy"><a href="http://www.greatdirectories.org/categories/travel-directories/">travel directories</a><a href="http://www.grungemagazine.com/">grunge</a></div>
					<ul id="photos">
				
					</ul>
				</div>
			</div>
		</div>
	





 
