<div id="content">
			<div id="wrapper">
				<div id="main">
					<div id="posts">
						<h2>Welcome to Support Stack.</h2> 
                        <p>Our goal is to provide you with support services that protect and enhance your investment in our technology. To meet your unique support needs, Support Stack has a variety of support options available.</p>
 <h1 id="t1">                       
Please select your type from the options below to learn more about the support options available to you and how to contact us.</h1><br>
					  <div id="m1">
						<div class="post">
							<h1 id="p1">Client Area</h1>
							
							<p>Click here to edit  your details, and other additional services. </p>
							<a href="#" class="more">Continue reading</a>
							<a href="#" class="comments">17 Comments</a>
						</div>
						<div class="post">
							<h1 id="p2">Browse Knowledgebase</h1>
							
							<p>View listing of all frequently asked questions.</p>
							<a href="#" class="more">Continue reading</a>
							<a href="#" class="comments">5 Comments</a>
						</div></div>
						<div id="pager"></div>
						<div id="m1">
						
						<div class="post">
						
							<h1 id="p3">Ticket History</h1>
							
							<p>The History of all the tickets showing the status....</p>
							<a href="#" class="more">Continue reading</a>
							<a href="#" class="comments">5 Comments</a>
						</div>
						<div class="post">
					
							<h1 id="p4">Contact Support</h1>
							
							<p>How can you Contact us for different issues.</p>
							<a href="#" class="more">Continue reading</a>
							<a href="#" class="comments">5 Comments</a>
						</div></div>
						<div id="pager"></div>
						<div id="m1">
						
						<div class="post">
						
							<h1 id="p5">Submit Ticket</h1>
							<p>Any problems...please create a ticket and let us know.</p>
							<a href="#" class="more">Continue reading</a>
							<a href="#" class="comments">5 Comments</a>
						</div>
						<div class="post">
						
							<h1 id="p6">News</h1>
							
							<p>View latest announcements and news in Projects.</p>
							<a href="#" class="more">Continue reading</a>
							<a href="#" class="comments">5 Comments</a>
						</div></div>
						<div class="inner_copy"><a href="http://www.bestfreetemplates.org/">free templates</a><a href="http://www.bannermoz.com/">banner templates</a></div>
						<div id="pager">
							<a href="#" class="previous">previous page</a>
							<ul>
								<li><a href="#" id="active">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li><a href="#">9</a></li>
							</ul>
							<a href="#" class="next">next page</a>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<img src="/images/sidebar_top.jpg" alt="setalpm" width="333" height="325" class="quote" /><br />
			
					<div class="about">
						<h1>MY ACCOUNT</h1>
						<br>
						<br>
						<%=form_tag('/new') do%>
						Username &nbsp;&nbsp;&nbsp;
						<%=text_field_tag("username","",:size=>10)%><br><br>
						Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<%=text_field_tag("Password","",:size=>10)%><br><br>
						<center><%=submit_tag"Login"%></center>
						<%end%>
						
						
					</div>
					<h1>News</h1>
					<ul id="categories">
						<li><a href="#">New ProjectX support Center in..</a></li>
						<li><a href="#">Live Free or Die hard....</a></li>
						<li><a href="#">New ProjectX support Center in..</a></li>
						<li><a href="#">Live Free or Die hard....</a></li>
						<li><a href="#">New ProjectX support Center in..</a></li>
						
					</ul>
					<h2>Search For Knowledge Base</h2><br><br>
					<%=form_tag('/new') do%>
				<%=text_field_tag("search","",:size=>22)%><br><br>
						<center><%=submit_tag"Search"%></center>
						<%end%>
					<div class="inner_copy"><a href="http://www.greatdirectories.org/categories/travel-directories/">travel directories</a><a href="http://www.grungemagazine.com/">grunge</a></div>
					<ul id="photos">
				
					</ul>
				</div>
			</div>
		</div>
	