<div id="content">
			<div id="wrapper">
				<div id="main">
					<div id="posts">
					<div id="users">
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
	</div>
						<h2>Staff-My Account.</h2> 
                    
 <h1 id="t1">                       
The following are your account details in our company,You can also modify all the details,Please Enter all the Important Fields.</h1><br>
					  <div id="m2">
						
<center><%= form_for @account, :url=>{:action=>'update'} do |f|%>
<table align="center">
<tr><th>Column</th><th>Detailed Value</th></tr>
<tr>
<td>
Name&nbsp;&nbsp;&nbsp;</td>
<td><%=f.text_field:fullname%></td></tr>
<tr>
<td>Email</td>
<td><%=f.email_field:email%><br></td></tr>
<tr>
<td>User Name</td>
<td><%=f.text_field:username%><br></td></tr>
	<tr>
<td>Phone</td>
<td><%=f.text_field:phone%><br></td></tr>
<tr>
<td>Mobile</td>
<td><%=f.text_field:mobile%><br></td></tr>

<tr><td></td>
	<td>
	<%=f.submit "Update"%></td></tr></table>
	<br>
	<br>
<%end%>

</center>



							
							</div>
						
					</div>
				</div>
				<div id="sidebar1">
					<img src="/images/sidebar_top1.jpg" alt="setalpm" width="333" height="45" class="quote" /><br />
			
						<%= render :partial=>"/staffview/staff"%>
					
					<div class="inner_copy"><a href="http://www.greatdirectories.org/categories/travel-directories/">travel directories</a><a href="http://www.grungemagazine.com/">grunge</a></div>
					<ul id="photos">
				
					</ul>
				</div>
			</div>
		</div>
	






 
